################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dotnetcore-test/bin/Debug/netcoreapp2.0
/dotnetcore-test/obj
